input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=submit] {
    background-color:blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form {
    border: 1px solid #888; 
    padding: 30px; 
    width:330px
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
  

}




